*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(255, 230, 0);
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2.5px;
}

.container {
    margin: 25% auto;
    width: 800px;
    max-width: 90%;
    background-color: #222420;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px 2px black;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #30382b;
    border: 1px solid #264a10;
    color: #9c9c9c;
    outline: none;
}

.btn:hover {
    scale: 1.15;
    background-color: green;
    color: black;
    border: 1px solid white;
}


/* Add your styles here */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/dungeonTileTinted.png);
    background-repeat: repeat;
    background-color: #30382b;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em;

}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 1em;
}